.cakePanel {
    align-items: center;
}

.cakePanel-emojiIcon {
    font-size: 5em
}

.cakePanel-icon {
    font-size: 1em;
    height: 8.75em;
    margin-bottom: 1em;
}

.cakePanel-title {
    display: inline-block;
    font-size: 1.2em;
    text-transform: uppercase;
    line-height: 2em;
    font-weight: normal;
}

.cakePanel-titleFirula {
    display: inline-block;
    margin: 0 .5em;
    vertical-align: middle;
    width: 1.75em;
    height: 1.75em;
}

.cakePanel-title::before,
.cakePanel-title::after {
    content: '🍰';
    display: inline-block;
    margin: 0 .5em;
    font-size: 1.12em;
    vertical-align: middle;
}