.inputFilesPanel {
    margin-top: 1em;
    align-items: center;
}

.inputFilesPanel-instruction {
    margin: 2em 0;
    max-width: 85%;
    min-width: 25em;

    line-height: 1.5;

    text-align: center;
}

.inputFilesPanel--loading .inputFilesPanel-instruction, 
.inputFilesPanel--loading .inputFilesPanel-instruction,
.inputFilesPanel--finishedLoading .inputFilesPanel-instruction, 
.inputFilesPanel--finishedLoading .inputFilesPanel-instruction {
    display: none;
}

.inputFilesPanel-button {
    padding: 1em 2em;
    min-width: 17.5em;

    transform: scale(1);

    position: relative;
    z-index: 1;

    box-sizing: border-box;

    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;

    border-radius: 2em;
    border: 3px solid transparent;
    color: white;
    
    transition: background-color .35s ease, color .2s ease, transform .35s ease;
}

.inputFilesPanel-button:hover:not(.inputFilesButton--disabled),
.inputFilesPanel-button:focus:not(.inputFilesButton--disabled) {
    cursor: pointer;
}

.inputFilesPanel-button + .inputFilesPanel-button {
    margin-top: 1em;
}

.inputFilesPanel--initial .inputFilesPanel-resetButton {
    display: none;
}

.inputFilesPanel-button:hover,
.inputFilesPanel-button:focus,
.inputFilesPanel--loading .inputFilesButton--disabled {
    border-color: currentColor;
    background-color: rgba(0,0,0,0);
    transition: background-color .5s ease, color .2s ease, transform .35s ease;
}

.inputFilesPanel-button:active:not(.inputFilesButton--disabled) {
    outline: none;
    transform: scale(0.75);
    transition: transform 1s ease;
}

.inputFilesButton--disabled {
    color: rgba(0,0,0,.19);
    cursor: not-allowed;
}

.inputFilesButton--disabled:focus {
    outline: none;
}

.inputFilesPanel-chooseFolderButton {
    /* background-color: #c2c4b0; */
    /* background-color: #f5ae09; */
    background-color: rgb(197, 95, 95);

}

.inputFilesPanel--initial .inputFilesPanel-chooseFolderButton:not(:hover):not(:focus),
.inputFilesPanel-resetButton {
    background-color: rgba(201, 0, 0, 0.47);
    

}

.inputFilesPanel-chooseFolderButton:hover:not(.inputFilesButton--disabled),
.inputFilesPanel-chooseFolderButton:focus:not(.inputFilesButton--disabled) {
    /* color: rgb(230, 174, 105); */
    /* color: #eeb946 */
    color: rgb(197, 95, 95);
}


.inputFilesPanel--initial .inputFilesPanel-chooseFolderButton:hover,
.inputFilesPanel--initial .inputFilesPanel-chooseFolderButton:focus,
.inputFilesPanel-resetButton:hover:not(.inputFilesButton--disabled),
.inputFilesPanel-resetButton:focus:not(.inputFilesButton--disabled) {
    color: rgba(201, 0, 0, 0.47);
}

.inputFilesPanel-progress,
.inputFilesPanel-pathView {
    display: none;
}

.inputFilesPanel--loading .inputFilesPanel-pathView, 
.inputFilesPanel--loading .inputFilesPanel-progress,
.inputFilesPanel--finishedLoading .inputFilesPanel-pathView, 
.inputFilesPanel--finishedLoading .inputFilesPanel-progress {
    display: block;
}

.inputFilesPanel-pathView {
    display: none;

    min-height: 1.5em;
    min-width: 70%;
    max-width: 90%;
    margin: 1em 0 2em;
    padding: .2em .75em;
    position: relative;
    
    line-height: 1.5em;
    font-size: 1.15em;
    font-family: monospace;

    background: #454545;
    color: white;

    overflow: auto;
}

.inputFilesPanel-progress {
    fill: red;
    margin: 1em 0;
    height: 2em;
}