.inputFilesPanel {
    margin-top: 1em;
    align-items: center;
}

.inputFilesPanel-instruction {
    margin: 2em 0;
    max-width: 85%;
    min-width: 25em;

    line-height: 1.5;

    text-align: center;
}

.inputFilesPanel--loading .inputFilesPanel-instruction, 
.inputFilesPanel--loading .inputFilesPanel-instruction,
.inputFilesPanel--finishedLoading .inputFilesPanel-instruction, 
.inputFilesPanel--finishedLoading .inputFilesPanel-instruction {
    display: none;
}

.inputFilesPanel-btn {
    padding: 1em 2em;
    min-width: 17.5em;

    transform: scale(1);

    position: relative;
    z-index: 1;

    box-sizing: border-box;

    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;

    border-radius: 2em;
    border: 3px solid transparent;
    background-color: rgba(201, 0, 0, 0.47);
    color: white;
    
    transition: background-color .35s ease, color .2s ease, transform .35s ease;
}

.inputFilesPanel--loading .inputFilesPanel-btn,
:not(.inputFilesPanel--loading) > .inputFilesPanel-btn:hover,
:not(.inputFilesPanel--loading) > .inputFilesPanel-btn:focus {
    border-color: currentColor;
    color: rgba(201, 0, 0, 0.47);

    background-color: rgba(0,0,0,0);
    
    transition: background-color .5s ease, color .2s ease, transform .35s ease;
    cursor: pointer;
}

.inputFilesPanel-btn:active {
    outline: none;
    transform: scale(0.75);

    transition: transform 1s ease;
}


.inputFilesPanel--loading .inputFilesPanel-btn {
    cursor: not-allowed;
}

.inputFilesPanel-progress,
.inputFilesPanel-pathView {
    display: none;
}

.inputFilesPanel--loading .inputFilesPanel-pathView, 
.inputFilesPanel--loading .inputFilesPanel-progress,
.inputFilesPanel--finishedLoading .inputFilesPanel-pathView, 
.inputFilesPanel--finishedLoading .inputFilesPanel-progress {
    display: block;
}

.inputFilesPanel-pathView {
    height: 1.5em;
    line-height: 1.5em;
    min-width: 70%;
    max-width: 90%;
    margin: 1em 0 2em;
    padding: .2em .75em;
    position: relative;

    font-size: 1.15em;
    font-family: monospace;

    background: #454545;
    color: white;

    overflow: scroll;
    white-space: nowrap;
}

/* .inputFilesPanel-pathView:after {
    content: '';
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 4em;
    background-image: linear-gradient(to right, transparent 10%, rgba(45,45,45,.9));
    right: 0;
    top: 0;
} */

.inputFilesPanel-progress {
    fill: red;
    margin: 1em 0;
    height: 2em;
}