header {
    background-color: #CBD4E8;
    padding: 1em;
    display: flex;
    justify-content: stretch;
    align-items: center;
}

:nth-child(n) + input[type="text"] {
    margin-left: 1em;
}

header > input[type="text"] {
    flex: 1;
    padding: .25em;
    font-size: 1.1em;
}

header > input[type="image"] {
    height: 2em;
}

header > :nth-child(n) + input[type="image"] {
    margin-left: 1em;
}